@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

/* navbar */
.navbar {
  min-height: 80px;
}

.navbar .nav-link:hover {
  color: #ff0300 !important;
  transition: 0.4s;
}

.navbar {
  background-color: white !important;
}

.floatingNav {
  width: auto;
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}

.navbar .nav-link {
  color: #000000 !important;
  font-weight: normal;
}

a {
  font-family: "Rubik", sans-serif;
  font-size: 13px;
  line-height: 24.7px;
  word-spacing: 0.8px;
}

/* logo */
.sizeLogo {
  max-width: 160px;
  max-height: 320px;
  width: auto;
  height: auto;
}

.countdownText {
  text-align: center;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 30px;
}

body {
  font-family: Arial, Helvetica, sans-serif !important;
}

/* countdown */
.dcontainer {
  text-align: center;
}

.countd {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid;
  margin: 0 30px;
  font-size: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.countd span {
  display: block;
  font-size: 26px;
  margin-top: 5px;
}

.judulText {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: -10px;
}

/* hr.solid {
  border-top: 1px solid #000000;
  margin-top: 40px;
  margin-bottom: 40px;
} */

/* .settingText {
  margin-top: 45px;
}

.progress {
  margin-top: -15px;
  margin-bottom: 100px;
  height: 20px;
} */

.settingAlert {
  margin-bottom: 100px;
}

.line-prop {
  margin-top: 30px;
}

.judulText-video {
  font-weight: 600;
  font-size: 30px;
  margin-left: 150px;
}

.page-footer {
  background-color: #262626;
  color: #fff;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.backgroundHitamfooter {
  background-color: #262626;
  display: run-in;
}
